.container {
    background: var(--purple-700);
    position: sticky;
    top: 0;
    height: 135px;

}

.containt {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    h1 {
        padding: 2rem 0;
    }
}

.menu {
    border: 0.1rem solid var(--gray-700);
    border-left: 0;
    border-right: 0;
    padding: 0.5rem;
    background: var(--gray-900);

    ul{
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;

        li{
            list-style: none;
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }
}